.contact-list-item {
    .data-container {
        min-height: 40px;
        overflow-wrap: break-word;
    }

    .contact-control {
        display: none;
    }

    &:hover {
        .contact-control {
            height: 40px;
            display: flex;
            align-items: center;
        }
    }

    @media (pointer: coarse) {
        .contact-control {
            height: 40px;
            display: flex;
        }
    }
}
