@import "../libs/functions";

@mixin generate-button($config) {
    $colors: map-get-deep($config, 'colors');

    .button {
        border: 0;
        display: block;
        width: 100%;
        // height: 48px;
        border-radius: 16px;
        padding: 12px;
        text-align: center;
        background-color: teal;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 16px;
        font-weight: 500;

        &:hover {
            cursor: pointer;
        }

        &.fit-content {
            width: fit-content;
        }

        &.primary {
            background-color: map-get-deep($colors, 'primary', 50);
            color: map-get-deep($colors, 'grayscale', 70);

            &:hover {
                background-color: map-get-deep($colors, 'primary', 60);
            }

            &:active {
                background-color: map-get-deep($colors, 'primary', 50);
            }
        }

        &.secondary {
            background-color: map-get-deep($colors, 'grayscale', 60);
            color: map-get-deep($colors, 'grayscale', 10);

            &:hover {
                background-color: map-get-deep($colors, 'grayscale', 70);
            }

            &:active {
                background-color: map-get-deep($colors, 'grayscale', 60);
            }
        }

        &.paypal {
            background-color: map-get-deep($colors, 'paypal', 50);
            color: #253B80;

            &:hover {
                background-color: map-get-deep($colors, 'paypal', 60);
            }

            &:active {
                background-color: map-get-deep($colors, 'paypal', 50);
            }
        }

        &:disabled, &:disabled:hover, &:disabled:active {
            background-color: map-get-deep($colors, 'grayscale', 60);
            color: map-get-deep($colors, 'grayscale', 40);
            cursor: not-allowed;
        }

        .rotate {
            display: inline-block;
            animation: spin 1200ms linear infinite;

            &.primary {
                path {
                    stroke: map-get-deep($colors, 'grayscale', 70);
                }
            }

            &.secondary {
                path {
                    stroke: map-get-deep($colors, 'grayscale', 10);
                }
            }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }
}
