@import "../libs/functions";

@mixin generate-input($colors) {
    .input-label {
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        margin-bottom: 6px;
    }

    .input-wrapper {
        width: 100%;
        border: 1px solid map-get-deep($colors, 'grayscale', 60);
        background-color: map-get-deep($colors, 'grayscale', 80);
        border-radius: 16px;

        position: relative;

        &.focused {
            border: 1px solid map-get-deep($colors, 'primary', 50);
            border-radius: 16px;
        }

        & input {
            width: 100%;
            padding: 15px 16px;
            outline: none;
            border: none;
            background-color: transparent;
            color: map-get-deep($colors, 'grayscale', 10);

            /* Chrome, Safari, Edge, Opera */
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            &[type=number] {
                -moz-appearance: textfield;
            }
        }
    }

    .select {
        .input-wrapper.focused {
            border: 1px solid map-get-deep($colors, 'primary', 50);
        }

        .dropdown-items-container {
            padding: 16px 0;
            width: 100%;
            border: 1px solid map-get-deep($colors, 'primary', 50);
            background-color: map-get-deep($colors, 'grayscale', 80);
            border-radius: 16px;

            max-height: 400%;
            overflow-y: scroll;

            .dropdown-item {
                padding: 12px;

                .radio-mimic {
                    margin-right: 10px;
                    width: 24px;
                    height: 24px;
                    border-radius: 12px;
                    border: 1px solid map-get-deep($colors, 'grayscale', 60);
                }

                &:has(div.active), &:has(div.active):hover {
                    // background-color: #3A3A41;

                    .radio-mimic {
                        border-color: map-get-deep($colors, 'primary', 50);
                        position: relative;

                        &:before {
                            content: '';
                            position: absolute;
                            display: block;
                            width: 18px;
                            height: 18px;
                            border-radius: 9px;
                            background-color: map-get-deep($colors, 'primary', 50);
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                &:hover {
                    background-color: #3A3A41;

                    .radio-mimic {
                        border: 1px solid map-get-deep($colors, 'grayscale', 80);
                    }
                }

                &:active {
                    background-color: #595964;
                    .radio-mimic {
                        border: 1px solid map-get-deep($colors, 'grayscale', 60);
                    }
                }
            }
        }
    }
}
