@import "../libs/functions";

@mixin generate-selectable-cards($config) {
    $colors: map-get-deep($config, 'colors');

    .selectable-card {
        background-color: map-get-deep($colors, 'grayscale', 70);
        border: 1px solid map-get-deep($colors, 'grayscale', 70);
        padding: 16px;
        color: map-get-deep($colors, 'grayscale', 10);
    }

    .selectable-card:not(.selected):hover {
        background-color: map-get-deep($colors, 'grayscale', 60);
        border-color: map-get-deep($colors, 'grayscale', 60);
    }

    .selectable-card:not(.selected):active {
        background-color: map-get-deep($colors, 'grayscale', 50);
        border-color: map-get-deep($colors, 'grayscale', 50);
    }

    .selectable-card.selected {
        border-color: map-get-deep($colors, 'primary', 50);
        color: map-get-deep($colors, 'primary', 50);
    }
}
