// FONTS
@font-face {
  font-family: 'Glysa';
  src: url('../../public/fonts/Glysa.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LexendDeca';
  src: url('../../public/fonts/LexendDeca-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #FFF;
  background-color: #141414;
}

h1 {
  font-family: 'Glysa', sans-serif;
  font-size: 32px;
  font-style: normal;
  line-height: 42px;
  letter-spacing: 0;
}

h2 {
  font-family: 'Glysa', sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 0;
}

h3 {
  font-family: 'LexendDeca', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.16px;
}

p {
  font-family: 'LexendDeca', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.14px;
}

small {
  font-family: 'LexendDeca', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.12px;
  color: rgba(255, 255, 255, 0.56);
}
