$icomoon-font-family: "contact-app-icon-set" !default;
$icomoon-font-path: "." !default;

$delete: "\e900";
$change: "\e901";
$search: "\e902";
$call: "\e903";
$favourite: "\e904";
$more: "\e905";
$mute: "\e906";
$back-arrow: "\e907";
$light-mode: "\e908";
$settings: "\e909";
$add: "\e90a";

